flows.json
[
    {
        "id": "6b2035a9.ca9f5c",
        "type": "tab",
        "label": "Publishers/Subscribers",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d3c4c932fa0ad433",
        "type": "tab",
        "label": "Command/Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a033ecf7.19ef2",
        "type": "tab",
        "label": "Client State",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f51fc5811b06d1db",
        "type": "tab",
        "label": "dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4f3999e7f13ef1ca",
        "type": "tab",
        "label": "reporting",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fa2bc67c51792e60",
        "type": "tab",
        "label": "Client State",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3c9fafa.7dd6a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "demo-in.mqtttest.com",
        "port": "8883",
        "tls": "2d748829.2503d8",
        "clientid": "$(CLIENTID)",
        "autoConnect": true,
        "usetls": true,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "demo/phonepe/clientstate/connected",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "$(CLIENTID)",
        "birthMsg": {},
        "closeTopic": "demo/phonepe/clientstate/closed",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "$(CLIENTID)",
        "closeMsg": {},
        "willTopic": "demo/phonepe/clientstate/lastwill",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "$(CLIENTID)",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2d748829.2503d8",
        "type": "tls-config",
        "name": "demo-in.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-in.mqtttest.com",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "c7809b33.ca4548",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6d919544.7af97c",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "c7809b33.ca4548",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb978cdcbb341010",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fde17ba4e8f07cec",
        "type": "gauth",
        "name": "node-red@fluted-sentry-260301.iam.gserviceaccount.com"
    },
    {
        "id": "791e80b3.11014",
        "type": "ui_group",
        "name": "Latency",
        "tab": "a06ddef.76e0f2",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "a4089a2e.e45d68",
        "type": "tls-config",
        "name": "demo-na.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-na.mqtttest.com",
        "verifyservercert": true
    },
    {
        "id": "a06ddef.76e0f2",
        "type": "ui_tab",
        "name": "Latency",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cc3b11154deba6a8",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "11ef7e910fbc7f08",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "11ef7e910fbc7f08",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "051bf78127684664",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "11c31ceaa9d4b06d",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "11c31ceaa9d4b06d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6267bed2.9eb7e",
        "type": "function",
        "z": "6b2035a9.ca9f5c",
        "name": "Add current epoch timestamp ",
        "func": "msg.payload.time = Date.now() \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 160,
        "wires": [
            [
                "57e94275.f8172c",
                "5c0df2f690c5fa6d"
            ]
        ]
    },
    {
        "id": "57e94275.f8172c",
        "type": "mqtt out",
        "z": "6b2035a9.ca9f5c",
        "name": "publish to EdgeConnect",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 150,
        "y": 200,
        "wires": []
    },
    {
        "id": "958e594e.3c2e08",
        "type": "function",
        "z": "6b2035a9.ca9f5c",
        "name": "Calculate Time Difference ",
        "func": "var now = Date.now();\nvar then = msg.payload.time;\nmsg.payload.latency = now - then;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 560,
        "wires": [
            [
                "bfe45b7271637c62",
                "540a9f2740c143e4"
            ]
        ]
    },
    {
        "id": "dcfa11ab.24416",
        "type": "comment",
        "z": "6b2035a9.ca9f5c",
        "name": "Publisher",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "e270e69d.557118",
        "type": "mqtt out",
        "z": "6b2035a9.ca9f5c",
        "name": "publish results to Edge Connect",
        "topic": "demo/phonepe/latency/results",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 170,
        "y": 680,
        "wires": []
    },
    {
        "id": "578b0ad2.ac3a24",
        "type": "comment",
        "z": "6b2035a9.ca9f5c",
        "name": "Subscriber",
        "info": "",
        "x": 100,
        "y": 320,
        "wires": []
    },
    {
        "id": "eb050bca41dd9e8e",
        "type": "mqtt in",
        "z": "6b2035a9.ca9f5c",
        "name": "Listen for Subscribe Control Messages",
        "topic": "demo/phonepe/control/sub",
        "qos": "2",
        "datatype": "json",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 190,
        "y": 360,
        "wires": [
            [
                "b85e77dec62b6d98"
            ]
        ]
    },
    {
        "id": "b85e77dec62b6d98",
        "type": "switch",
        "z": "6b2035a9.ca9f5c",
        "name": "Is Unsubscribe?",
        "property": "payload.unsubscribe",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 120,
        "y": 420,
        "wires": [
            [
                "2d8ee60ed8aabc85"
            ],
            [
                "09373df619e3d648"
            ]
        ]
    },
    {
        "id": "09373df619e3d648",
        "type": "change",
        "z": "6b2035a9.ca9f5c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 460,
        "wires": [
            [
                "9e25b96b1b20ba20"
            ]
        ]
    },
    {
        "id": "2d8ee60ed8aabc85",
        "type": "change",
        "z": "6b2035a9.ca9f5c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "unsubscribe",
                "pt": "msg",
                "to": "all",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 420,
        "wires": [
            [
                "9e25b96b1b20ba20"
            ]
        ]
    },
    {
        "id": "e8febce1fd9bbef7",
        "type": "mqtt in",
        "z": "6b2035a9.ca9f5c",
        "name": "Listen for Publisher Control Messages",
        "topic": "demo/phonepe/control/pub",
        "qos": "2",
        "datatype": "json",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "686bd7a48f73aa96"
            ]
        ]
    },
    {
        "id": "686bd7a48f73aa96",
        "type": "change",
        "z": "6b2035a9.ca9f5c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "6267bed2.9eb7e"
            ]
        ]
    },
    {
        "id": "bfe45b7271637c62",
        "type": "merge",
        "z": "6b2035a9.ca9f5c",
        "name": "",
        "timeout": "30",
        "x": 90,
        "y": 620,
        "wires": [
            [
                "e270e69d.557118",
                "61ee9f1e0cea22dd"
            ]
        ]
    },
    {
        "id": "9e25b96b1b20ba20",
        "type": "mqtt-in-dynamicsub",
        "z": "6b2035a9.ca9f5c",
        "name": "subscribe to topics",
        "qos": "2",
        "datatype": "json",
        "unsubscribe-after-first-msg-recv": false,
        "debug-subscribe": true,
        "broker": "3c9fafa.7dd6a5",
        "x": 410,
        "y": 500,
        "wires": [
            [
                "958e594e.3c2e08",
                "4545cf82069c5d17"
            ]
        ]
    },
    {
        "id": "4545cf82069c5d17",
        "type": "debug",
        "z": "6b2035a9.ca9f5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "5c0df2f690c5fa6d",
        "type": "debug",
        "z": "6b2035a9.ca9f5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 220,
        "wires": []
    },
    {
        "id": "61ee9f1e0cea22dd",
        "type": "debug",
        "z": "6b2035a9.ca9f5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 640,
        "wires": []
    },
    {
        "id": "540a9f2740c143e4",
        "type": "debug",
        "z": "6b2035a9.ca9f5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 560,
        "wires": []
    },
    {
        "id": "8b729069e4fae062",
        "type": "mqtt in",
        "z": "d3c4c932fa0ad433",
        "name": "Listen on Control Topic ",
        "topic": "demo/phonepe/control/cmd",
        "qos": "2",
        "datatype": "json",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 60,
        "wires": [
            [
                "94b449353b48ae65",
                "5872a3052b7c12d6"
            ]
        ]
    },
    {
        "id": "5872a3052b7c12d6",
        "type": "switch",
        "z": "d3c4c932fa0ad433",
        "name": "Check if clientid is self or all ",
        "property": "payload.clientid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "all",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CLIENTID",
                "vt": "env"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "94b449353b48ae65"
            ],
            [
                "94b449353b48ae65"
            ],
            []
        ]
    },
    {
        "id": "358a9b79e77033f8",
        "type": "comment",
        "z": "d3c4c932fa0ad433",
        "name": "Otherwise Ignore",
        "info": "",
        "x": 380,
        "y": 200,
        "wires": []
    },
    {
        "id": "0e138ecc479f8138",
        "type": "comment",
        "z": "d3c4c932fa0ad433",
        "name": "Process",
        "info": "",
        "x": 120,
        "y": 20,
        "wires": []
    },
    {
        "id": "94b449353b48ae65",
        "type": "switch",
        "z": "d3c4c932fa0ad433",
        "name": "Check Command Type",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "exec",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "api",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "9bae47b5adc2d938"
            ],
            [
                "3cb93eed8b48e5ec"
            ]
        ]
    },
    {
        "id": "ef006acee64ad842",
        "type": "http request",
        "z": "d3c4c932fa0ad433",
        "name": "API requests",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 110,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "3c85f295848674b8",
        "type": "exec",
        "z": "d3c4c932fa0ad433",
        "command": "",
        "addpay": "exec",
        "append": "",
        "useSpawn": "true",
        "timer": "120",
        "winHide": false,
        "oldrc": false,
        "name": "exec commands",
        "x": 530,
        "y": 400,
        "wires": [
            [
                "7fa473161970a11b"
            ],
            [
                "7fa473161970a11b"
            ],
            [
                "7fa473161970a11b"
            ]
        ]
    },
    {
        "id": "8d9439e40cfdfa9c",
        "type": "comment",
        "z": "d3c4c932fa0ad433",
        "name": "node-red API requests",
        "info": "",
        "x": 140,
        "y": 240,
        "wires": []
    },
    {
        "id": "80cb0f6bb7e13a3b",
        "type": "comment",
        "z": "d3c4c932fa0ad433",
        "name": "exec commands",
        "info": "",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "7fa473161970a11b",
        "type": "debug",
        "z": "d3c4c932fa0ad433",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 560,
        "wires": []
    },
    {
        "id": "9bae47b5adc2d938",
        "type": "change",
        "z": "d3c4c932fa0ad433",
        "name": "Normallze payload for input into exec node ",
        "rules": [
            {
                "t": "set",
                "p": "exec",
                "pt": "msg",
                "to": "payload.command",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 340,
        "wires": [
            [
                "3c85f295848674b8"
            ]
        ]
    },
    {
        "id": "3cb93eed8b48e5ec",
        "type": "change",
        "z": "d3c4c932fa0ad433",
        "name": "normalize payload for input into http request node",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.url",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "payload.method",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 280,
        "wires": [
            [
                "ef006acee64ad842"
            ]
        ]
    },
    {
        "id": "d7440d7baae1b077",
        "type": "mqtt in",
        "z": "a033ecf7.19ef2",
        "name": "",
        "topic": "demo/phonepe/service/clientreport",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "b9f82a4f2ccef586"
            ]
        ]
    },
    {
        "id": "81ede4557fb68599",
        "type": "mqtt out",
        "z": "a033ecf7.19ef2",
        "name": "",
        "topic": "demo/phonepe/clientstate/connected",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 210,
        "y": 200,
        "wires": []
    },
    {
        "id": "b9f82a4f2ccef586",
        "type": "change",
        "z": "a033ecf7.19ef2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "CLIENTID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "81ede4557fb68599"
            ]
        ]
    },
    {
        "id": "579b8ace64c4baa6",
        "type": "counter",
        "z": "f51fc5811b06d1db",
        "name": "Set # of Topics",
        "init": "0",
        "step": "1",
        "lower": "1",
        "upper": "10",
        "mode": "increment",
        "outputs": "1",
        "x": 380,
        "y": 680,
        "wires": [
            [
                "c8264eb71af39fa3",
                "4b15eceab596dac5"
            ]
        ]
    },
    {
        "id": "dd92050e9b54c9a0",
        "type": "inject",
        "z": "f51fc5811b06d1db",
        "d": true,
        "name": "Send Job",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "579b8ace64c4baa6"
            ]
        ]
    },
    {
        "id": "c8264eb71af39fa3",
        "type": "debug",
        "z": "f51fc5811b06d1db",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 480,
        "wires": []
    },
    {
        "id": "5223b2a2818e24b1",
        "type": "debug",
        "z": "f51fc5811b06d1db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "b95ecfa48d9dfa3e",
        "type": "inject",
        "z": "f51fc5811b06d1db",
        "name": "Reset Job Counter",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "579b8ace64c4baa6"
            ]
        ]
    },
    {
        "id": "389c7a2e29490450",
        "type": "comment",
        "z": "f51fc5811b06d1db",
        "name": "Subscriber Jobs",
        "info": "",
        "x": 110,
        "y": 460,
        "wires": []
    },
    {
        "id": "954e9a0701dc9415",
        "type": "inject",
        "z": "f51fc5811b06d1db",
        "name": "Unsubscribe",
        "props": [
            {
                "p": "payload.unsubscribe",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "7e1681320d167be6"
            ]
        ]
    },
    {
        "id": "4b15eceab596dac5",
        "type": "switch",
        "z": "f51fc5811b06d1db",
        "name": "",
        "property": "countUpperLimitReached",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 600,
        "wires": [
            [],
            [
                "bb4c5ccadb7e80ee"
            ]
        ]
    },
    {
        "id": "7e1681320d167be6",
        "type": "mqtt out",
        "z": "f51fc5811b06d1db",
        "name": "",
        "topic": "demo/phonepe/control/sub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 720,
        "y": 680,
        "wires": []
    },
    {
        "id": "d7d03c7c14f82ae8",
        "type": "comment",
        "z": "f51fc5811b06d1db",
        "name": "Publisher Jobs",
        "info": "",
        "x": 160,
        "y": 740,
        "wires": []
    },
    {
        "id": "5e3bf7c4d25545a7",
        "type": "inject",
        "z": "f51fc5811b06d1db",
        "d": true,
        "name": "Send Job",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "df260e78d2c34f7d"
            ]
        ]
    },
    {
        "id": "df260e78d2c34f7d",
        "type": "counter",
        "z": "f51fc5811b06d1db",
        "name": "Set # of Topics",
        "init": "1",
        "step": "1",
        "lower": "1",
        "upper": "10",
        "mode": "increment",
        "outputs": "1",
        "x": 340,
        "y": 820,
        "wires": [
            [
                "fb050621353ddac1",
                "b67fefde83441a1c"
            ]
        ]
    },
    {
        "id": "fb050621353ddac1",
        "type": "switch",
        "z": "f51fc5811b06d1db",
        "name": "",
        "property": "countUpperLimitReached",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 800,
        "wires": [
            [
                "3a71ecb8111a7287"
            ],
            [
                "be92e97e7f1e2999",
                "f87946ea4b1ecec2"
            ]
        ]
    },
    {
        "id": "6836f2cf582bd2fe",
        "type": "mqtt out",
        "z": "f51fc5811b06d1db",
        "name": "",
        "topic": "demo/phonepe/control/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 740,
        "y": 940,
        "wires": []
    },
    {
        "id": "3a71ecb8111a7287",
        "type": "change",
        "z": "f51fc5811b06d1db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "countUpperLimitReached",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 760,
        "wires": [
            [
                "df260e78d2c34f7d"
            ]
        ]
    },
    {
        "id": "bb4c5ccadb7e80ee",
        "type": "template",
        "z": "f51fc5811b06d1db",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"topic\":\"demo/phonepe/traffic/{{count}}\"}",
        "output": "json",
        "x": 720,
        "y": 580,
        "wires": [
            [
                "7e1681320d167be6",
                "5223b2a2818e24b1"
            ]
        ]
    },
    {
        "id": "be92e97e7f1e2999",
        "type": "debug",
        "z": "f51fc5811b06d1db",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 820,
        "wires": []
    },
    {
        "id": "f87946ea4b1ecec2",
        "type": "template",
        "z": "f51fc5811b06d1db",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"topic\":\"demo/phonepe/traffic/{{count}}\"}",
        "output": "json",
        "x": 560,
        "y": 860,
        "wires": [
            [
                "6836f2cf582bd2fe",
                "eea4a113337ed5f7"
            ]
        ]
    },
    {
        "id": "eea4a113337ed5f7",
        "type": "debug",
        "z": "f51fc5811b06d1db",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 860,
        "wires": []
    },
    {
        "id": "b67fefde83441a1c",
        "type": "debug",
        "z": "f51fc5811b06d1db",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 740,
        "wires": []
    },
    {
        "id": "9f062ccbdfcd92c5",
        "type": "comment",
        "z": "f51fc5811b06d1db",
        "name": "Listen for Connect, Close, LWT messages",
        "info": "",
        "x": 720,
        "y": 40,
        "wires": []
    },
    {
        "id": "8658c17115673972",
        "type": "comment",
        "z": "f51fc5811b06d1db",
        "name": "Build Client State Table",
        "info": "",
        "x": 420,
        "y": 40,
        "wires": []
    },
    {
        "id": "c91667cb2632cfa9",
        "type": "comment",
        "z": "f51fc5811b06d1db",
        "name": "Individual Download (Action when user clicks on single state table entry)",
        "info": "",
        "x": 1200,
        "y": 540,
        "wires": []
    },
    {
        "id": "fb136f9466da9a51",
        "type": "debug",
        "z": "f51fc5811b06d1db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 120,
        "wires": []
    },
    {
        "id": "c161b9d8f2377ae8",
        "type": "mqtt in",
        "z": "4f3999e7f13ef1ca",
        "name": "",
        "topic": "demo/phonepe/latency/results",
        "qos": "2",
        "datatype": "json",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "59196738f63421cd",
                "b7b7a28a6105b580"
            ]
        ]
    },
    {
        "id": "59196738f63421cd",
        "type": "debug",
        "z": "4f3999e7f13ef1ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "b7b7a28a6105b580",
        "type": "file",
        "z": "4f3999e7f13ef1ca",
        "name": "",
        "filename": "/data/latency",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 540,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "14676140c46d557b",
        "type": "comment",
        "z": "fa2bc67c51792e60",
        "name": "Listen for Connect, Close, LWT messages",
        "info": "",
        "x": 230,
        "y": 100,
        "wires": []
    },
    {
        "id": "a740fb6b78a3e4d9",
        "type": "file",
        "z": "fa2bc67c51792e60",
        "name": "Write Client State File",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 860,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "34c981d65c0d3eeb",
        "type": "template",
        "z": "fa2bc67c51792e60",
        "name": "Set Filename",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/data/clientstate/{{payload}}",
        "output": "str",
        "x": 470,
        "y": 160,
        "wires": [
            [
                "a740fb6b78a3e4d9"
            ]
        ]
    },
    {
        "id": "aff028138607cbdb",
        "type": "mqtt in",
        "z": "fa2bc67c51792e60",
        "name": "Listen for Close Messages",
        "topic": "demo/phonepe/clientstate/closed",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "41e01e3a0c0bbded",
                "f03db2ecc16e491f"
            ]
        ]
    },
    {
        "id": "41e01e3a0c0bbded",
        "type": "template",
        "z": "fa2bc67c51792e60",
        "name": "Set Filename",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/data/clientstate/{{payload}}",
        "output": "str",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "702c4450ce522ee3"
            ]
        ]
    },
    {
        "id": "2e5b701f30907fe7",
        "type": "mqtt in",
        "z": "fa2bc67c51792e60",
        "name": "Listen for lwt Messages",
        "topic": "demo/phonepe/clientstate/lastwill",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "41e01e3a0c0bbded",
                "f03db2ecc16e491f"
            ]
        ]
    },
    {
        "id": "702c4450ce522ee3",
        "type": "file",
        "z": "fa2bc67c51792e60",
        "name": "Delete Client State File",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 860,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6303860fec2bd2c8",
        "type": "template",
        "z": "fa2bc67c51792e60",
        "name": "form JSON of Active Clients",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"title\":\"{{payload}}\",\"description\":\"Connected\",\"icon\":\"https://cdn1.iconfinder.com/data/icons/malware-and-threats/512/Botnet-01-512.png\"}",
        "output": "json",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "93d34e08a193598a",
                "475479d9a82a0119"
            ]
        ]
    },
    {
        "id": "93d34e08a193598a",
        "type": "join",
        "z": "fa2bc67c51792e60",
        "name": "Create Single Array of Active Clients",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "2",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "4029ed25cbd7e7d7",
                "f9b3e950e5353001",
                "5047b929883ea4f3"
            ]
        ]
    },
    {
        "id": "55251066717c4d5b",
        "type": "comment",
        "z": "fa2bc67c51792e60",
        "name": "Build Client State Table",
        "info": "",
        "x": 160,
        "y": 380,
        "wires": []
    },
    {
        "id": "2671bde8cca46160",
        "type": "comment",
        "z": "fa2bc67c51792e60",
        "name": "Individual Download (Action when user clicks on single state table entry)",
        "info": "",
        "x": 260,
        "y": 720,
        "wires": []
    },
    {
        "id": "f03db2ecc16e491f",
        "type": "debug",
        "z": "fa2bc67c51792e60",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "4029ed25cbd7e7d7",
        "type": "ui_list",
        "z": "fa2bc67c51792e60",
        "group": "051bf78127684664",
        "name": "Client State Table",
        "order": 2,
        "width": 10,
        "height": 15,
        "lineType": "two",
        "actionType": "click",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "5299aaf97a2d48be"
            ]
        ]
    },
    {
        "id": "e81ff9e03c9de07a",
        "type": "fs-file-lister",
        "z": "fa2bc67c51792e60",
        "name": "Build List of Active Clients",
        "start": "/data/clientstate",
        "pattern": "*bot",
        "folders": "*",
        "hidden": false,
        "lstype": "files",
        "path": false,
        "single": false,
        "depth": 0,
        "stat": false,
        "showWarnings": false,
        "x": 180,
        "y": 500,
        "wires": [
            [
                "6303860fec2bd2c8",
                "679a1fdef732fb67"
            ]
        ]
    },
    {
        "id": "93cd2ea8a4f67cb2",
        "type": "mqtt in",
        "z": "fa2bc67c51792e60",
        "name": "Listen for Connect Messages",
        "topic": "demo/phonepe/clientstate/connected",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "34c981d65c0d3eeb",
                "f03db2ecc16e491f",
                "4da26d5acb77c84a"
            ]
        ]
    },
    {
        "id": "679a1fdef732fb67",
        "type": "debug",
        "z": "fa2bc67c51792e60",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 560,
        "wires": []
    },
    {
        "id": "0b4b090592560833",
        "type": "debug",
        "z": "fa2bc67c51792e60",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 520,
        "wires": []
    },
    {
        "id": "475479d9a82a0119",
        "type": "debug",
        "z": "fa2bc67c51792e60",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 600,
        "wires": []
    },
    {
        "id": "f9b3e950e5353001",
        "type": "debug",
        "z": "fa2bc67c51792e60",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 640,
        "wires": []
    },
    {
        "id": "5047b929883ea4f3",
        "type": "mqtt out",
        "z": "fa2bc67c51792e60",
        "name": "",
        "topic": "demo/phonepe/service/clientstate",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 620,
        "y": 680,
        "wires": []
    },
    {
        "id": "5299aaf97a2d48be",
        "type": "link out",
        "z": "fa2bc67c51792e60",
        "name": "",
        "links": [
            "5a5ff76b.480ea"
        ],
        "x": 355,
        "y": 680,
        "wires": []
    },
    {
        "id": "99de2d3236c20754",
        "type": "ui_button",
        "z": "fa2bc67c51792e60",
        "name": "Refresh Player Count",
        "group": "051bf78127684664",
        "order": 5,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Refresh Player Count",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 300,
        "y": 320,
        "wires": [
            [
                "424d2fa4a8bc06c0",
                "35319c172a759b74"
            ]
        ]
    },
    {
        "id": "cc857745b10bec77",
        "type": "mqtt out",
        "z": "fa2bc67c51792e60",
        "name": "",
        "topic": "demo/phonepe/service/clientreport",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 930,
        "y": 380,
        "wires": []
    },
    {
        "id": "5734b87ac631f2f0",
        "type": "delay",
        "z": "fa2bc67c51792e60",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 840,
        "y": 460,
        "wires": [
            [
                "e81ff9e03c9de07a"
            ]
        ]
    },
    {
        "id": "9ca9809b6129da8e",
        "type": "debug",
        "z": "fa2bc67c51792e60",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "424d2fa4a8bc06c0",
        "type": "exec",
        "z": "fa2bc67c51792e60",
        "command": "rm /data/clientstate/*",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 580,
        "y": 400,
        "wires": [
            [
                "cc857745b10bec77",
                "5734b87ac631f2f0",
                "9ca9809b6129da8e"
            ],
            [],
            []
        ]
    },
    {
        "id": "a48f04a9a25227e8",
        "type": "link in",
        "z": "fa2bc67c51792e60",
        "name": "",
        "links": [
            "e408cc94.dd29"
        ],
        "x": 775,
        "y": 580,
        "wires": [
            [
                "cc857745b10bec77"
            ]
        ]
    },
    {
        "id": "4da26d5acb77c84a",
        "type": "link out",
        "z": "fa2bc67c51792e60",
        "name": "connect messages",
        "links": [
            "c0512c98.75a5f8"
        ],
        "x": 445,
        "y": 100,
        "wires": []
    },
    {
        "id": "35319c172a759b74",
        "type": "link out",
        "z": "fa2bc67c51792e60",
        "name": "reset",
        "links": [
            "d859d6ff.d4af2"
        ],
        "x": 345,
        "y": 440,
        "wires": []
    },
    {
        "id": "36d8832c6b1a0d41",
        "type": "ui_button",
        "z": "fa2bc67c51792e60",
        "name": "Show List",
        "group": "051bf78127684664",
        "order": 5,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Show List",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "e81ff9e03c9de07a"
            ]
        ]
    }
]
